<head>
  {% block head %}
    <meta charset="utf-8"/>
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://assets/img/logo.png') }}"/>
    <link rel="canonical" href="{{ page.url(true, true) }}"/>

    {% block stylesheets %}
      {% do assets.addCss('https://unpkg.com/purecss@1.0.0/build/pure-min.css', 100) %}
      {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 99) %}

    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
      {% do assets.addJs('jquery', 100) %}
    {% endblock %}
    {{ assets.js() }}

  {% endblock head %}
<link href="/user/themes/alice/./assets/css/vendor.3dc37ab8.css" rel="stylesheet"><link href="/user/themes/alice/./assets/css/main.d41d8cd9.css" rel="stylesheet"></head>