{% macro loop(page) %}
  {% for p in page.children.visible %}
    {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
    {% if p.children.count > 0 %}
      {{ _self.loop(p) }}
    {% else %}
      {% if p.header.nav.header %}
        <li class="{{ current_page }}"><a class="waves-effect {{ current_page }}" href="{{ p.url }}"><i
                class="material-icons left">{{ p.header.nav.icon|e }}</i>{{ p.header.nav.header|e }}</a></li>
        {% if p.header.nav.hr %}<li><div class="divider"></div></li>{% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endmacro %}

{{ _self.loop(pages) }}