{% extends 'partials/base.html.twig' %}

{% block content %}
  <div class="content-wrapper">
    <div class="text-wrapper">
      {{ page.content }}
    </div>
    <div class="gallery-grid">
      {% for card in page.header.cards %}
        <div class="card grid-item hide-for-loading">
          <div class="card-image">
            <img class="materialboxed" src="{{ page.media.images[card.pic].url }}">
            <span class="card-title">{{ card.caption }}</span>
          </div>
          <div class="card-content">
            <p>Mehrleistung: +{{ card.psgain }}PS / +{{ card.nmgain }}NM</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
