{% extends 'forms/fields/text/text.html.twig' %}

{% block contents %}
  {% set field = field|merge({'display_label': false}) %}
  {{ parent() }}
{% endblock %}

{% block append %}
  {% if field.label %}
    <label for="{{ field.id }}">{{ field.label }}</label>
  {% endif %}
  {{ parent() }}
{% endblock %}

{% block input %}
  {% set field = field|merge({'size': field.size ~ ' input-field'}) %}
  {{ parent() }}
{% endblock %}